@import url(http://fonts.googleapis.com/css?family=Electrolize);

.yellow-over-blue {
    background-color:#091833;
    color: #ffff0b;
}
.header-container {
    background-color:#091833;
    width: 100%;
}
body {
    margin: 0;
    font-family: 'Electrolize';
}
.header {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    flex: 1;
    align-content: start;
    flex-wrap: wrap;
}

.header-links {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    gap: 10%;
    /* align-content: end; */ /* TODO seems not useful here but kept it for now */
    color: #ffff0b;
    flex: 1;
    flex-wrap: wrap;
}

div.header-links ul {
padding-left: 0;
white-space: nowrap;
font-size: 27px;
}

.header-image {
    height: 115px;
    width: auto;
}

/* since we won't have any bullet list for now */
ul {
    list-style-type: none;
  }

.banner {
    padding: 1.5%;
    display: flex;
    justify-content: center;
    gap: 2%;
    font-weight: bolder;
    flex-wrap: wrap;
}

.banner img {
    width: 35%;
    min-width: 400px;
}

.banner-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html {
    width: 100%;
}

body {
    background-color:#091833;
}

.sign-up-button {
    margin: 0 auto;
    display: block;
    /* padding: 15px 20px; */
    width: 140px;
    height: 40px;
    font-family: 'Electrolize';
    color: #091833;
    font-weight: 1000;
    font-size: large;
    border:none;
    border-radius:10px;
    background-color: #ffbf00;
}

.sign-up-button:hover {
    background-color: red;
}


.images-strip {
    background-color: #0ABDC6;
/* TODO add a sentence in the upper div of this and make it flex box with 2 elements above each other*/
}

.images-show {
    display: flex;
    justify-content: space-evenly;
    margin-right: 10%;
    margin-left: 10%;
    padding: 5% 0;
}

.image-in-show {
    width: 300px;
    height: auto;
}



.border-for-images {
    /* Doesn't work at all in IE */ 
    border: 10px solid white;
    border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%23FFC14D'/><stop offset='0.80' stop-color='%23ffbf00'/><stop offset='1' stop-color='%23FF0000'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>") 10% stretch;
}
