@import url(http://fonts.googleapis.com/css?family=Electrolize);

.yellow-over-blue {
    background-color:#002746;
    color: #ffff0b;
}
.header-container {
    background-color:#002746;
    width: 100%;
}
body {
    margin: 0;
    font-family: 'Electrolize';
}
.header {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.logo {
    display: flex;
    flex: 1;
    align-content: start;
}

.header-links {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    gap: 10%;
    /* align-content: end; */ /* TODO seems not useful here but kept it for now */
    color: #ffff0b;
    flex: 1;
}

div.header-links ul {
padding-left: 0;
white-space: nowrap;
font-size: 27px;
}

.header-image {
    height: 115px;
    width: auto;
}

/* since we won't have any bullet list for now */
ul {
    list-style-type: none;
  }

.banner {
    padding: 1.5%;
    display: flex;
    justify-content: center;
    gap: 2%;
    font-weight: bolder;
}

.banner img {
    width: 35%;
}

.banner-text-container {
    display: flex;
    align-items: center;
}

html {
    width: 100%;
}

body {
    background-color:#002746;
}